h1 {
    text-align: center
}

h2 {
    text-align: center
}

.table-header {
    color: white;
    background-color: darkgrey;
}

.table-item-text-groupstage-name {
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #000000;
}

.table-item-input-groupstage-stance {
    display: inline;
}

th {
    text-align: left
}