/*Pre*/

html {
    font-size: 1rem;
}

body {
    font-size: 100%;
}

h1 {
    text-align: center
}

h2 {
    color: white;
    background-color: darkgrey;
    text-align: center;
}
/*Specific*/

nav {}

nav ul {
    text-align: center;
}

nav ul li {
    font-size: 20px;
    display: inline;
    text-decoration: none;
    margin: 0 5px;
}

nav ul li a {
    color: #000;
}

.table-header {
    color: white;
    background-color: darkgrey;
    text-align: left;
}

.table-table-groupstage {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.table-item-groupstage {
    display: inline;
}

.table-item-groupstage-text-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 4.875rem;
    font-size: 0.9rem;
}

.table-item-overview-groupstage-text-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 5.875rem;
    font-size: 0.9rem;
}

.table-item-groupstage-input-stance {
    width: 2rem;
    float: right;
    font-size: 1rem;
}

th {
    text-align: left
}