<!DOCTYPE html>
<html>
<section>
    <div class="small-12 columns">
        <h2>Achtstefinales</h2>
        <div class="small-12 medium-6 large-3 columns">
            <div class="row">
                <div class="small-2 columns">37:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            2A:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            2C:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="row">
                <div class="small-2 columns">38:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            1B:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            3A/C/D:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="row">
                <div class="small-2 columns">39:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            1D:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            3B/E/F:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="row">
                <div class="small-2 columns">40:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            1A:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            3C/D/E:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="row">
                <div class="small-2 columns">41:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            1C:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            3A/B/F:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="row">
                <div class="small-2 columns">42:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            1F:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            2E:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="row">
                <div class="small-2 columns">43:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            1E:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            2D:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="row">
                <div class="small-2 columns">44:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            2B:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            2F:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</html>