<!DOCTYPE html>
<html>
<div class="container-fluid">
    <h2 class="table-header ">Achtstefinales</h2>
    <div class="col-sm-6 col-md-3 col-lg-3">
        37:
        <div style="display:inline-block; vertical-align:middle ">
            2A
            <br /> 2C
        </div>
        <div style="display:inline-block; vertical-align:middle; float:right; ">
            <input type="text" />
            <br />
            <input type="text" />
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        38:
        <div style="display:inline-block; vertical-align:middle ">
            1B
            <br /> 3A/C/D
        </div>
        <div style="display:inline-block; vertical-align:middle; float:right; ">
            <input type="text" />
            <br />
            <input type="text" />
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        39:
        <div style="display:inline-block; vertical-align:middle ">
            1D
            <br /> 3B/E/F
        </div>
        <div style="display:inline-block; vertical-align:middle; float:right; ">
            <input type="text" />
            <br />
            <input type="text" />
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        40:
        <div style="display:inline-block; vertical-align:middle ">
            1B
            <br /> 3A/C/D
        </div>
        <div style="display:inline-block; vertical-align:middle; float:right; ">
            <input type="text" />
            <br />
            <input type="text" />
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        41:
        <div style="display:inline-block; vertical-align:middle ">
            1C
            <br /> 3B/E/F
        </div>
        <div style="display:inline-block; vertical-align:middle; float:right; ">
            <input type="text" />
            <br />
            <input type="text" />
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        42:
        <div style="display:inline-block; vertical-align:middle ">
            1F
            <br /> 2E
        </div>
        <div style="display:inline-block; vertical-align:middle; float:right; ">
            <input type="text" />
            <br />
            <input type="text" />
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        43:
        <div style="display:inline-block; vertical-align:middle ">
            1E
            <br /> 2D
        </div>
        <div style="display:inline-block; vertical-align:middle; float:right; ">
            <input type="text" />
            <br />
            <input type="text" />
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        44:
        <div style="display:inline-block; vertical-align:middle ">
            2B
            <br /> 2F
        </div>
        <div style="display:inline-block; vertical-align:middle; float:right; ">
            <input type="text" />
            <br />
            <input type="text" />
        </div>
    </div>

</div>

</html>