<!DOCTYPE html>
<html>
<div class="container-fluid">
    <h2 class="table-header ">Finale</h2>
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        51:
        <div style="display:inline-block; vertical-align:middle ">
            W49
            <br /> W50
        </div>
        <div style="display:inline-block; vertical-align:middle; float:right; ">
            <input type="text" />
            <br />
            <input type="text" />
        </div>
    </div>
</div>

</html>
