<!DOCTYPE html>
<html>

<section>
    <div class="small-12 columns">
        <h2>Finale</h2>
        <div class="small-12 medium-6 large-4 medium-centered columns">
            <div class="row">
                <div class="small-2 columns">51:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            W49:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            W50:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</html>