<!DOCTYPE html>
<html>
<div class="container-fluid">
    <h2 class="table-header">Groepstanden</h2>
    <div class="col-sm-6 col-md-4 col-lg-4">
        <h4>Groep A:</h4>
        <ul data-ng-repeat="country in groups.groupA">
            <span class="stofstik-ellipses">{{country}}</span>
            <input style="float:right" type="number" min="1" max="4" />
        </ul>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
        <h4>Groep B:</h4>
        <ul data-ng-repeat="country in groups.groupB">
            <span class="stofstik-ellipses">{{country}}</span>
            <input style="float:right" type="number" min="1" max="4" />
        </ul>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
        <h4>Groep C:</h4>
        <ul data-ng-repeat="country in groups.groupC">
            <span class="stofstik-ellipses">{{country}}</span>
            <input style="float:right" type="number" min="1" max="4" />
        </ul>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
        <h4>Groep D:</h4>
        <ul data-ng-repeat="country in groups.groupD">
            <span class="stofstik-ellipses">{{country}}</span>
            <input style="float:right" type="number" min="1" max="4" />
        </ul>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
        <h4>Groep E:</h4>
        <ul data-ng-repeat="country in groups.groupE">
            <span class="stofstik-ellipses">{{country}}</span>
            <input style="float:right" type="number" min="1" max="4" />
        </ul>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
        <h4>Groep F:</h4>
        <ul data-ng-repeat="country in groups.groupF">
            <span class="stofstik-ellipses">{{country}}</span>
            <input style="float:right" type="number" min="1" max="4" />
        </ul>
    </div>
</div>

</html>