<!DOCTYPE html>
<html>

<section>
    <div class="small-12 columns">
        <h2>Groepstanden</h2>
        <div class="small-12 medium-6 large-4 columns">
            <div class="row">
                <h4>Groep A:</h4>
                <div class="small-12 columns" data-ng-repeat="country in groups.groupA">
                    <div class="small-9 columns">{{country}}</div>
                    <div class="small-3 columns">
                        <input type="number" min="1" max="4" />
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <div class="row">
                <h4>Groep B:</h4>
                <div class="small-12 columns" data-ng-repeat="country in groups.groupB">
                    <div class="small-9 columns">{{country}}</div>
                    <div class="small-3 columns">
                        <input type="number" min="1" max="4" />
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <div class="row">
                <h4>Groep C:</h4>
                <div class="small-12 columns" data-ng-repeat="country in groups.groupC">
                    <div class="small-9 columns">{{country}}</div>
                    <div class="small-3 columns">
                        <input type="number" min="1" max="4" />
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <div class="row">
                <h4>Groep D:</h4>
                <div class="small-12 columns" data-ng-repeat="country in groups.groupD">
                    <div class="small-9 columns">{{country}}</div>
                    <div class="small-3 columns">
                        <input type="number" min="1" max="4" />
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <div class="row">
                <h4>Groep E:</h4>
                <div class="small-12 columns" data-ng-repeat="country in groups.groupE">
                    <div class="small-9 columns">{{country}}</div>
                    <div class="small-3 columns">
                        <input type="number" min="1" max="4" />
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <div class="row">
                <h4>Groep F:</h4>
                <div class="small-12 columns" data-ng-repeat="country in groups.groupF">
                    <div class="small-9 columns">{{country}}</div>
                    <div class="small-3 columns">
                        <input type="number" min="1" max="4" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</html>