<!DOCTYPE html>
<html>
<section>
    <div class="small-12 columns">
        <div class="small-12 medium-6 large-4 columns">
            <h2>Eindstand</h2>
            <div class="small-2 columns">
                1e:
            </div>
            <div class="small-10 columns">
                <input type="text" />
            </div>
            <div class="small-2 columns">
                2e:
            </div>
            <div class="small-10 columns">
                <input type="text" />
            </div>
            <div class="small-2 columns">
                3e:
            </div>
            <div class="small-10 columns">
                <input type="text" />
            </div>
            <div class="small-2 columns">
                4e:
            </div>
            <div class="small-10 columns">
                <input type="text" />
            </div>
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <div class="small-7 columns">
                <h2>Topscorer</h2>
                <input type="text" />
            </div>
            <div class="small-5 columns">
                <h2>Goals</h2>
                <input type="number" />
            </div>
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <h2>Overigen</h2>
            <div class="small-8 columns">Aantal gele kaarten</div>
            <div class="small-4 columns">
                <input type="number" />
            </div>
            <div class="small-8 columns">Aantal rode kaarten</div>
            <div class="small-4 columns">
                <input type="number" />
            </div>
            <div class="small-8 columns">Aantal penalties (in speeltijd)</div>
            <div class="small-4 columns">
                <input type="number" />
            </div>
            <div class="small-8 columns">Aantal gelijke spelen (na 90 min.)</div>
            <div class="small-4 columns">
                <input type="number" />
            </div>
            <div class="small-8 columns">Aantal doelpunten in toernooi </div>
            <div class="small-4 columns">
                <input type="number" />
            </div>
        </div>
    </div>
</section>

</html>