<!DOCTYPE html>
<html>
<section>
    <div class="small-12 columns">
        <h2>Kwartfinales</h2>
        <div class="small-12 medium-6 large-3 columns">
            <div class="row">
                <div class="small-2 columns">45:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            W37:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            W39:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="row">
                <div class="small-2 columns">46:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            W38:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            W42:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="row">
                <div class="small-2 columns">47:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            W41:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            W43:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 large-3 columns">
            <div class="row">
                <div class="small-2 columns">48:</div>
                <div class="small-10 columns">
                    <div class="row">
                        <div class="small-2 columns">
                            W40:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">
                            W44:
                        </div>
                        <div class="small-10 columns">
                            <input type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</html>