<!DOCTYPE html>
<html>

<section>
    <div class="small-12 columns">
        <h2>Halve finale</h2>
        <div class="large-12 columns">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <div class="row">
                        <div class="small-2 columns">49:</div>
                        <div class="small-10 columns">
                            <div class="row">
                                <div class="small-2 columns">
                                    W45:
                                </div>
                                <div class="small-10 columns">
                                    <input type="text" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-2 columns">
                                    W46:
                                </div>
                                <div class="small-10 columns">
                                    <input type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-6 columns">
                    <div class="row">
                        <div class="small-2 columns">50:</div>
                        <div class="small-10 columns">
                            <div class="row">
                                <div class="small-2 columns">
                                    W47:
                                </div>
                                <div class="small-10 columns">
                                    <input type="text" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-2 columns">
                                    W48:
                                </div>
                                <div class="small-10 columns">
                                    <input type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</html>