<!DOCTYPE html>
<html>
<div class="container-fluid">
    <h2 class="table-header ">Halve finale</h2>
    <div class="col-sm-6 col-md-6 col-lg-6">
        49:
        <div style="display:inline-block; vertical-align:middle ">
            W45
            <br /> W46
        </div>
        <div style="display:inline-block; vertical-align:middle; float:right; ">
            <input type="text" />
            <br />
            <input type="text" />
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        50:
        <div style="display:inline-block; vertical-align:middle ">
            W47
            <br /> W48
        </div>
        <div style="display:inline-block; vertical-align:middle; float:right; ">
            <input type="text" />
            <br />
            <input type="text" />
        </div>
    </div>
</div>

</html>