<html>

<h2 class="table-header">Groepstanden</h2>
<table class="table-table-groupstage">
    <tr>
        <th>Groep A</th>
        <th>Groep B</th>
        <th>Groep C</th>
        <th>Groep D</th>
        <th>Groep E</th>
        <th>Groep F</th>
    </tr>
    <tr data-ng-repeat="country in teams">
        <td>
            <div class="table-item-groupstage">
                <div class="table-item-groupstage-text-name">{{country.groupA.name}}</div>
                <input class="table-item-groupstage-input-stance" type="number" min="1" max="4" data-ng-model="country.groupA.groupstance" />
            </div>
        </td>
        <td>
            <div class="table-item-groupstage">
                <div class="table-item-groupstage-text-name">{{country.groupB.name}}</div>
                <input class="table-item-groupstage-input-stance" type="number" min="1" max="4" data-ng-model="country.groupB.groupstance" />
            </div>
        </td>
        <td>
            <div class="table-item-groupstage">
                <div class="table-item-groupstage-text-name">{{country.groupC.name}}</div>
                <input class="table-item-groupstage-input-stance" type="number" min="1" max="4" data-ng-model="country.groupC.groupstance" />
            </div>
        </td>
        <td>
            <div class="table-item-groupstage">
                <div class="table-item-groupstage-text-name">{{country.groupD.name}}</div>
                <input class="table-item-groupstage-input-stance" type="number" min="1" max="4" data-ng-model="country.groupD.groupstance" />
            </div>
        </td>
        <td>
            <div class="table-item-groupstage">
                <div class="table-item-groupstage-text-name">{{country.groupE.name}}</div>
                <input class="table-item-groupstage-input-stance" type="number" min="1" max="4" data-ng-model="country.groupE.groupstance" />
            </div>
        </td>
        <td>
            <div class="table-item-groupstage">
                <div class="table-item-groupstage-text-name">{{country.groupF.name}}</div>
                <input class="table-item-groupstage-input-stance" type="number" min="1" max="4" data-ng-model="country.groupF.groupstance" />
            </div>
        </td>
    </tr>

</table>

<h2 class="table-header ">Achtstefinales</h2>
<span>37</span>
<div style="display:inline-block; vertical-align:middle">
    2A
    <input type="text" />
    <br /> 2C
    <input type="text" />
</div>
<span>38</span>
<div style="display:inline-block; vertical-align:middle">
    1B
    <input type="text" />
    <br /> 3#
    <input type="text" />
</div>
<span>39</span>
<div style="display:inline-block; vertical-align:middle">
    D1
    <input type="text" />
    <br /> 3#
    <input type="text" />
</div>
<span>40</span>
<div style="display:inline-block; vertical-align:middle">
    A1
    <input type="text" />
    <br /> 3#
    <input type="text" />
</div>
<br />
<span>41</span>
<div style="display:inline-block; vertical-align:middle">
    C1
    <input type="text" />
    <br /> 3#
    <input type="text" />
</div>
<span>42</span>
<div style="display:inline-block; vertical-align:middle">
    1F
    <input type="text" />
    <br /> 2E
    <input type="text" />
</div>
<span>43</span>
<div style="display:inline-block; vertical-align:middle">
    E1
    <input type="text" />
    <br /> D2
    <input type="text" />
</div>
<span>44</span>
<div style="display:inline-block; vertical-align:middle">
    B2
    <input type="text" />
    <br /> F2
    <input type="text" />
</div>

<h2 class=" table-header ">Kwartfinales</h2>

<h2>
<span class="table-header" style="float: left">Halve finales</span>
    <span style="float: right">
    <span class="table-header ">3e plaats</span>
<span class="table-header ">Finale</span>
        </span>
</h2>

</html>