<html>

<h2 class="table-header">Groepstanden</h2>
<table>
    <tr>
        <th>Groep A</th>
        <th>Groep B</th>
        <th>Groep C</th>
        <th>Groep D</th>
        <th>Groep E</th>
        <th>Groep F</th>
    </tr>
    <tr data-ng-repeat="country in teams">
        <td>
            <div class="table-item-text-groupstage-name">{{country.groupA.name}}</div>
            <input style="display: inline; float:right" type="number" min="1" max="4" data-ng-model="country.groupA.groupstance" />
        </td>
        <td>
            <div class="table-item-text-groupstage-name">{{country.groupB.name}}</div>
            <input style="display: inline; float:right" type="number" min="1" max="4" data-ng-model="country.groupB.groupstance" />
        </td>
        <td>
            <div class="table-item-text-groupstage-name">{{country.groupC.name}}</div>
            <input style="display: inline; float:right" type="number" min="1" max="4" data-ng-model="country.groupC.groupstance" />
        </td>
        <td>
            <div class="table-item-text-groupstage-name">{{country.groupD.name}}</div>
            <input style="display: inline; float:right" type="number" min="1" max="4" data-ng-model="country.groupD.groupstance" />
        </td>
        <td>
            <div class="table-item-text-groupstage-name">{{country.groupE.name}}</div>
            <input style="display: inline; float:right" type="number" min="1" max="4" data-ng-model="country.groupE.groupstance" />
        </td>
        <td>
            <div class="table-item-text-groupstage-name">{{country.groupF.name}}</div>
            <input style="display: inline; float:right" type="number" min="1" max="4" data-ng-model="country.groupF.groupstance" />
        </td>
    </tr>

</table>
<h2 class="table-header ">Achtstefinales</h2>
<h2 class="table-header ">Kwartfinales</h2>

<h2 class="table-header ">Halve finales</h2>
<div align="justify ">
    <h2 class="table-header ">3e plaats</h2>
    <h2 class="table-header ">Finale</h2>
</div>

</html>